<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @cliente.Codigo %>
</p>

<p>
  <b>Nome:</b>
  <%= @cliente.Nome %>
</p>

<p>
  <b>Telefone:</b>
  <%= @cliente.Telefone %>
</p>

<p>
  <b>Cep:</b>
  <%= @cliente.CEP %>
</p>


<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Voltar', clientes_path %>
