<%= form_for(@ordem) do |f| %>
  <% if @ordem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordem.errors.count, "error") %> prohibited this ordem from being saved:</h2>

      <ul>
      <% @ordem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Numeroordem %><br />
    <%= f.text_field :Numeroordem %>
  </div>
  <div class="field">
    <%= f.label :Data %><br />
    <%= f.date_select :Data %>
  </div>
  <div class="field">
    <%= f.label :Qtyitens %><br />
    <%= f.text_field :Qtyitens %>
  </div>
  <div class="field">
    <%= f.label :Valor %><br />
    <%= f.text_field :Valor %>
  </div>
  <div class="field">
    <%= f.label :Tipo %><br />
    <%= f.text_field :Tipo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
