<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @veiculo.codigo %>
</p>

<p>
  <b>Descricao:</b>
  <%= @veiculo.Descricao %>
</p>

<p>
  <b>Ano:</b>
  <%= @veiculo.Ano %>
</p>

<p>
  <b>Placa:</b>
  <%= @veiculo.Placa %>
</p>

<p>
  <b>Km:</b>
  <%= @veiculo.Km %>
</p>

<p>
  <b>Categoria:</b>
  <%= @veiculo.Categoria %>
</p>


<%= link_to 'Edit', edit_veiculo_path(@veiculo) %> |
<%= link_to 'Back', veiculos_path %>
